<h1>Task Manager</h1>
<p>An application to manage to-do lists</p>

<% x = 1 + 1 %><br />

<%= x %><br />

<% tasks = ['Fold laundry', 'Sweep proch', 'Wash dishes', 'Now lawn'] %>

<ul>
<% tasks.each do |task| %>
  <li><%= task %></li>
<% end %>
</ul>
